.ui-center {
  text-align: center;
}

.carousel-container {
  position: relative;
  height: 400px;
  width:400px;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: pan-y;
}

.carousel-track {
  display: flex;
  height: 100%;
}

.carousel-card {
  flex: 0 0 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-tap-highlight-color: transparent;
}

.carousel-card-inner {
  flex-direction: column;
  width: 390px;
  height: 390px;
  border-radius: 5px;
}

.carousel-title {
  margin-top: 10px;
  font-size: 1.5em;
}

.carousel-text {
  padding: 1em;
  font-size: 14px;
  white-space: pre-wrap;
  font-family: sans-serif;
}
