
/* Product Form */

.product-form {
	margin: 0 auto;
	padding: 15px;
	display: block;
	border-radius: _size(border-radius);
	overflow: hidden;
	border: 0;
	position: relative;

	.display {
		display: block;
		border: 0;
		position: relative;

		img {
            margin: 0 auto;
			display: block;
            border-radius: 4px;
		}
	}
	.name {
		border-bottom: solid _size(border-width) darkgray;
		width: -moz-max-content;
		width: -webkit-max-content;
		width: -ms-max-content;
		width: max-content;
		margin: 20px auto (_size(element-margin) * .5) auto;
        text-align: center;
	}
	.description {
		line-height: 1.2rem;
        max-width: 295px;
        text-align: center;
        margin: auto;
	}
    .centered-label {
        width: 50%;
        text-align: right;
        display: inline-block;
    }
    .dimensions {
        display: inline-block;
        margin-left: 10px;
        margin-top: 20px;
    }
    .price-label {
        margin-bottom: 25px;
    }
    .price {
        margin-left: 10px;
        display: inline-block;
        letter-spacing: 0.2rem;
    }
}

@include breakpoint(small) {
	&.main {
		margin: (_size(element-margin) * 1) 0;
	}
}

@include breakpoint(xsmall) {
	&.main {
		margin: (_size(element-margin) * 0.75) 0;
	}
}
